.maincontainer {
   background-image: url("https://i.ibb.co/cXNGc4H/photo-1583258292688-d0213dc5a3a8-crop-faces-edges-cs-tinysrgb-fit-crop-fm-jpg-ixid-Mnwx-Mj-A3f-DB8-M.jpg");
   background-repeat: repeat-y;
   background-size:  contain;
   /* width: 100vw; */
   /* height: 50vw; */
   }

   .checkoutFormCard{
      margin-top: 20px;
      margin-bottom: 60px;
   }

   .container{
      margin-bottom: 60px;
   }