
.signUpForm{
   display: inline;
  
}

.signUpLabel{
   margin-top: 30px !important;
}
.signUpButton{
   margin-bottom: 30px !important;
}

.signUpFormCard{
   margin-top: 10px;
   margin-bottom: 108px;
}

.signUpFormCardMUI{
   border-radius: 50px !important;
}

.inputDetails{
   margin-top: 20px;
}

#inputFirstName, #inputLastName, #inputEmail4, #inputPassword4{
   width:280px;
}